FOOTBALL_API_TOKEN=343be13f1f734c93be81a5a8e2b468db
POSTGRES_DB=mundial_db
POSTGRES_USER=mundial_user
POSTGRES_PASSWORD=mundial_pass_seguro_2026
DATABASE_URL=postgresql://mundial_user:mundial_pass_seguro_2026@postgres:5432/mundial_db
VITE_API_URL=http://TU_IP_EC2:8000
ENVIRONMENT=production
CORS_ORIGINS=*
